ul.ul-edu li .description p.year {
  font-size: 0.75rem;
  color: rgba(0,0,0,0.6);
}

.pub-list-item .pub-authors {
  font-size: 1.2rem;
  font-variant: small-caps;
  margin-bottom: 10px;
  color: #000000;
}

.pub-list-item .pub-abstract {
  font-size: 0.9rem;
  text-align: justify;
}
