<div class="pub-list-item card-simple" itemscope itemtype="http://schema.org/CreativeWork">

  {{ if .Params.image_preview }}
    {{ .Scratch.Set "image" .Params.image_preview }}
  {{ else if .Params.header.image }}
    {{ .Scratch.Set "image" .Params.header.image }}
  {{ end }}

  <h3 class="article-title" itemprop="name">
    {{ .Title }}
  </h3>

  <div class="pub-authors" itemprop="author">
    {{ with .Params.authors }}
    {{ delimit . ", " | markdownify }}
    {{ end }}
  </div>

  <button id="{{ .Title }}_button" data-text-swap="Hide Abstract" data-toggle="collapse" type="button" class="btn btn-info" style="color: rgb(255,255,255); background-color: #3696EE; width:130px" data-target="#{{ .Title }}_abstract">View Abstract</button>

  <div id="{{ .Title }}_abstract" style="font-size: 18px;" class="collapse">
    <div class="pub-abstract" itemprop="text">
      {{ if .Params.abstract_short }}
      {{ .Params.abstract_short | markdownify }}
      {{ else }}
      {{ .Params.abstract | markdownify}}
      {{ end }}
    </div>
  </div>

  <div class="pub-links">
    {{ partial "publication_links" (dict "content" . "is_list" 1) }}
  </div>

</div>
